/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2018, 1:30:21 PM
    Author     : mathi
*/


@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.ttf');
}

.text {
    -fx-font-family: "Press Start 2P";
}